# See https://help.github.com/ignore-files/ for more about ignoring files.


# dependencies
node_modules/*
!node_modules/material-table/*
!node_modules/material-table
old dists/
dist/*
.idea/
.idea/workspace.xml
package-lock.json