.dashboardPrices{
    width:80%;
    /* margin-left:10%;
    margin-right:10%; */

}
.dashboardRows{
    border-top: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
}

.dashboardTableHeader {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.dashboardCellHeader {
    padding: 10px 10px 0px;
}

.highlightedCell{
    background-color:#EDF6FB;
}
.dashboardPrices{
    font-size: 12px;
    width: 100%;
}
table.dashboardPrices td {

    padding:10px;
}

.tableHeader {
    background-color: rgba(15, 0, 52,0.8);
    color: #ececec
}

.nameColor{
    color: rgba(0,0,0,0.6);
}
.programPrice{
    font-weight: bold;
    font-size: 12px;
}
.colorBlue{
    color: rgb(46, 140, 248);
}

.colorGreen{
    color: rgb(46, 140, 248);
}

.table-row-doublecell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 18px;
}

.table-row-doublecell-child {
    width: 100%;
}

.table-row-doublecell-child:nth-child(1) {
    flex-basis: 2%;
    height: 50px;
}

.table-row-doublecell-child:nth-child(2) {
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding-top: 10px;
    flex-basis: 80%;
    height: auto;
}

.table-filter-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}